@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FoundersGroteskCondensed";
  src: url("../src/assets/fonts/FoundersGrotesk-Semibold.ttf");
}

@font-face {
  font-family: "NueueMontreal";
  src: url("../src/assets/fonts/NeueMontreal-Regular.ttf");
}

* {
  font-family: "NueueMontreal", sans-serif;
}

:root {
  color-scheme: dark;
}

/* html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
} */

/* @media screen and (max-width: 480px) {
  html,
  body {
    font-size: 16px;
  }
} */

.bg-hero {
  background-image: url('https://images.unsplash.com/photo-1533106958148-daaeab8b83fe?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}